/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{
     font-family: 'Helvetica', sans-serif;
     background-color: #F0F0F0;
     z-index: 1;
 }

 header a, a:visited, a:active{
   color: black;
   text-decoration: none;
   display: inline-block;
 }
 header a:hover{
   text-decoration: underline;
 }

 input{
   background-color: white;
   border: 1px solid black;
   margin: 0 10px;
 }

 ul{
   display: inherit;
   list-style-type:none;
   flex-direction: row;
 }

 .nav-bar ul{
   display: flex;
   align-items: center;
   height:100%;
 }

.nav-bar li{
    display: inline-block;
    padding: 0 0 0 10px;
    margin-left: 10px;
    border-left: 1px solid grey;
}

.nav-bar li:first-child{
  border-left: 0;
}

.nav-greetings{
  color: grey;
  font-weight: normal;
}

header{
  display: flex;
  margin: auto;
  /* background-color: yellow; */
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  font-size: 14px;
  height: 110px;
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 600px;
  border-bottom: 1px white;
  z-index: 2;
}
.nav-bar{
  display: flex;
  /* margin: 0 auto; */
  width: 100%;
  justify-content: space-between;
  z-index: 2;
}


.nav-left{
  height: 100%;
  width: 50%;
  display: flex;
  float: left;
  /* background-color: green; */
  position: relative;
  flex-direction: column;
}
.nav-left-icon{
  height: 50%;
  width: 100%;
  /* background-color: teal; */
  display:flex;
  float:left;
}

.header-link{
  margin: auto 3%;
}

.nav-ul-left{
  /* margin: 0 5%; */
  justify-content: flex-start;
}
.nav-ul-right{
  justify-content: flex-end;
  margin-right: 5%;
}

.nav-left-icon{
  justify-content: flex-start;
}

.nav-left-links{
  height:50%;
  width: 100%;
  /* background-color: orange; */
  display: flex;
  float:left;
  margin: auto;
}

.nav-right{
  height: 100%;
  width: 30%;
  display: flex;
  float: left;
  /* position: relative; */
  /* background-color: pink; */
  flex-direction: column;
}

.nav-right form{
  margin-right: 2%;
}

.nav-right-search{
  height: 50%;
  width: 100%;
  /* background-color: purple; */
  float:left;
  display:flex;
  /* flex-direction: row-reverse;; */
  justify-content: flex-end;
}
.search-bar{
  /* justify-content: flex-end */
  margin: auto 0;
  display:inline-block;
  align-content: flex-end;
  /* text-align: center; */
}

.nav-right-links{
  height:50%;
  width: 100%;
  /* background-color: red; */
  float: left;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.login-errors{
  color: red;
}

.login-form-container{
  display: flex;
  margin-top: 150px;
  /* background-color: green; */
}

.login-fields{
  display: flex;
  flex-direction: column;
}

.session-submit{
  width: 300px;
  height: 36px;
  font-size: 16px;
  color: white;
  font-weight: bold;
  background-color: rgb(0,161,198);
  text-align: center;
  border: 1px solid lightgrey;
  margin: 0 auto;
}

.login-fields input{
  width: 290px;
  height: 36px;
  font-size: 16px;
  padding-left: 10px;
  border: 1px solid lightgrey;
}
.login-fields label{
  text-align: center;
  padding-bottom: 10px;
}

.login-form-box p{
  padding-top: 10px;
  text-align: center;
  z-index: 1;
}

.login-form{
  /* background-color: pink; */
  display:flex;
  flex-direction: column;
}

.login-form-box{
  margin: auto;
  z-index: 1;
}

.line-break {
  border-bottom: 1px dashed lightgrey;
}

.login-form-box a{
  text-decoration: underline;
}

h1{
  margin-top: 150px;
  text-align: center;
}

.auth-nav-bar{
  height: 50px;
  background-color: #ececec;
  justify-content: space-between;
  display:flex;
}

.user-profile-body{
  background-color: lightgrey;
}

.auth-nav-left{
  display: flex;
  float:left;
  align-items: center;
  height: 100%;
}

.auth-nav-left a{
  align-items: center;
  padding: 10px;
  border-left: 1px solid lightgrey;
  color: #1DA0C3;
}

.auth-nav-left form{
  align-items: center;
  padding: 10px;
  border-left: 1px solid lightgrey;
}

.auth-nav-right{
  height: 100%;
  display: flex;
  float: left;
  align-items: center;
  /* flex-direction: column;
  justify-content: center; */
}

.auth-nav-right a{
  align-items: center;
  padding: 10px;
  border-left: 1px solid lightgrey;
  text-align: center;
  color: #1DA0C3
}
.auth-nav-right .dropdown button{
  align-items: center;
  padding: 10px;
  border-left: 1px solid lightgrey;
  color: #1DA0C3
}

.auth-nav-right div{
  padding: 10px;
}

.dropdown-content{
  display: none;
  position: absolute;
  z-index: 2;
}

.dropdown-content a {
    color: #1DA0C3;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: white;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  background-color: white;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.user-profile{
  margin-top: 75px;
}

.auth-nav-ul-right{
  justify-content: center;
  margin-right: 5%;
}
