/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

 html{
   height: 100%;
   position: relative;
 }

 body{
     font-family: 'Helvetica', sans-serif;
     background-color: #F0F0F0;
     height: 100%;
     margin: 0;
     padding: 0;
     position: relative;
     /* z-index: 1; */
 }

 header a, a:visited, a:active{
   color: black;
   text-decoration: none;
   display: inline-block;
 }
 header a:hover{
   text-decoration: underline;
 }

 input{
   background-color: white;
   border: 1px solid black;
   margin: 0 10px;
 }

 ul{
   display: inherit;
   list-style-type:none;
   flex-direction: row;
 }

 .nav-bar ul{
   display: flex;
   align-items: center;
   height:100%;
 }

.nav-bar li{
    display: inline-block;
    padding: 0 0 0 10px;
    margin-left: 10px;
    border-left: 1px solid grey;
}

.nav-bar li:first-child{
  border-left: 0;
}

.nav-greetings{
  color: grey;
  font-weight: normal;
}

header{
  display: flex;
  margin: auto;
  background-color: white;
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  font-size: 14px;
  height: 110px;
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 600px;
  border-bottom: 1px grey;
  z-index: 2;
  overflow: hidden;
}
.nav-bar{
  display: flex;
  /* margin: 0 auto; */
  width: 100%;
  justify-content: space-between;
  z-index: 2;
}


.nav-left{
  height: 100%;
  width: 50%;
  display: flex;
  float: left;
  /* background-color: green; */
  position: relative;
  flex-direction: column;
}
.nav-left-icon{
  height: 50%;
  width: 100%;
  /* background-color: teal; */
  display:flex;
  float:left;
}

.header-link{
  margin: auto 3%;
}

.nav-ul-left{
  /* margin: 0 5%; */
  justify-content: flex-start;
}
.nav-ul-right{
  justify-content: flex-end;
  margin-right: 5%;
}

.nav-left-icon{
  justify-content: flex-start;
}

.nav-left-links{
  height:50%;
  width: 100%;
  /* background-color: orange; */
  display: flex;
  float:left;
  margin: auto;
}

.nav-right{
  height: 100%;
  width: 30%;
  display: flex;
  float: left;
  /* position: relative; */
  /* background-color: pink; */
  flex-direction: column;
}

.nav-right form{
  margin-right: 2%;
}

.nav-right-search{
  height: 50%;
  width: 100%;
  /* background-color: purple; */
  float:left;
  display:flex;
  /* flex-direction: row-reverse;; */
  justify-content: flex-end;
}
.search-bar{
  /* justify-content: flex-end */
  margin: auto 0;
  display:inline-block;
  align-content: flex-end;
  color: grey;
  cursor: not-allowed;
  /* text-align: center; */
}

.nav-right-links{
  height:50%;
  width: 100%;
  /* background-color: red; */
  float: left;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.login-errors{
  color: red;
}

.login-form-container{
  display: flex;
  margin-top: 150px;
  margin-bottom: 100px;
  /* background-color: green; */
}

.login-fields{
  display: flex;
  flex-direction: column;
}

.session-submit{
  width: 300px;
  height: 36px;
  font-size: 16px;
  color: white;
  font-weight: bold;
  background-color: rgb(0,161,198);
  text-align: center;
  border: 1px solid lightgrey;
  margin: 0 auto;
}

.login-fields input{
  width: 290px;
  height: 36px;
  font-size: 16px;
  padding-left: 10px;
  border: 1px solid lightgrey;
}
.login-fields label{
  text-align: center;
  padding-bottom: 10px;
}

.login-form-box p{
  padding-top: 10px;
  text-align: center;
  z-index: 1;
}

.login-form{
  /* background-color: pink; */
  display:flex;
  flex-direction: column;
}

.login-form-box{
  margin: auto;
  z-index: 1;
}

.line-break {
  border-bottom: 1px dashed lightgrey;
}

.login-form-box a{
  text-decoration: underline;
}

.splash-boxes h1{
  margin-top: 150px;
  text-align: center;
}

.auth-nav-bar{
  height: 50px;
  background-color: #ececec;
  justify-content: space-between;
  display:flex;
}

.user-profile-body{
  background-color: lightgrey;
}

.auth-nav-left{
  display: flex;
  float:left;
  align-items: center;
  height: 100%;
  text-decoration: none;
}

.auth-nav-left a{
  align-items: center;
  padding: 10px;
  /* border-left: 1px solid lightgrey; */
  color: #1DA0C3;
  text-decoration: none;
}
.auth-nav-left a:hover{
  color: black;
  text-decoration: none;
  background-color: lightgrey;
}

.auth-nav-left form{
  align-items: center;
  padding: 10px;
  /* border-left: 1px solid lightgrey; */
}

.auth-nav-right{
  height: 100%;
  display: flex;
  float: left;
  align-items: center;
  /* flex-direction: column; */
  /* justify-content: center; */
}

.auth-nav-ul-right{
  display: flex;
  margin: auto;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  /* margin-right: 5%; */
}
.auth-nav-ul-right{
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.auth-nav-ul-right:last-child{
  display: flex;
  margin: auto;
  /* margin-right: 30px; */
  justify-content: center;
  align-items: center;
  padding-right: 30px;
}

.auth-nav-right a{
  padding: 10px;
  /* border-left: 1px solid lightgrey; */
  text-align: center;
  color: #1DA0C3;
  text-decoration: none;
  flex-wrap: nowrap;
  width: 50px;
}
.auth-nav-right a:first-child{
  border-left: 0;
}
.auth-nav-right a:hover{
  color: black;
  background-color: lightgrey;
  text-decoration: none;
}
.auth-nav-right .dropdown button{
  align-items: center;
  padding: 10px;
  /* border-left: 1px solid lightgrey; */
  color: #1DA0C3
}

.dropdown-content{
  display: none;
  position: absolute;
  z-index: 5;
  overflow: hidden;
}

.dropdown-content a {
    color: #1DA0C3;
    /* padding: 12px 16px; */
    text-decoration: none;
    display: block;
    background-color: #ececec;
    width: 100%;
    border-radius: 1px solid black;
    z-index: 5;
    overflow:hidden;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  background-color: lightgrey;
  color:black;
  border-radius: 1px solid black;
  border: 2px black;
}

.dropdown .dropbtn:hover {
  background-color: lightgrey;
  border-radius: 1px solid black;
  color: black;
  border: 2px black;
}

.user-profile{
  margin-top: 75px;
}
.user-profile-body{
  display: flex;
  justify-content: space-around;
}

.user-profile-info{
  display:flex;
  flex-direction: column;
  align-items: center;
  /* border: solid; */
  /* border-radius: 5px solid ; */
}

.user-profile-info label{
  float: left;
  width: 18em;
  margin-right: 1em;
  text-align: center;
}

.user-profile-info input {
  text-align: center;
  border-radius: 3px;
}

#profile-form{
  display:flex;
  flex-direction: column;
}

.user-profile-info #btn{
  text-align: center;
  margin: 10px;
}

.profile {
  max-height: 120px;
  max-width: 120px;
}

.song-details{
  margin-top: 75px;
}

.album-index-body{
  margin-top: 75px;
}

.auth-body{
  margin-top: 75px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
}

.user-profile-albums img{
  max-height: 100px;
  max-width: 100px;
  margin-bottom: 20px;
}

.img img{
  max-height: 360px;
  max-width: 360px;
}

.album-render p{
  margin-bottom: 10px;
}
.logo{
  height: 30px;
  width: 30px;
}

.unauth-container{
  margin-top: 100px;
  min-height:700px;
  min-width: 600px;
}

.splash-boxes{
  display:flex;
}

.splash-box-left{
  height: 500px;
  width: 70%;
  display:flex;
}

.splash-box-left img{
  min-width: none;
  min-height: none;
}

.box-left{
  height: 100%;
  width: 100%;
  background: no-repeat center 100% url("http://i.imgur.com/kaamZIZ.jpg");
  background-size: cover;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: flex-end;
  opacity: 0.9;
}

.caption{
  border: 1px;
  border-radius: 1px solid black;
  /* display: flex; */
}

.caption h1{
  margin-bottom: 50px;
  color: white;
  font-weight: bold;
}

.splash-box-right{
  height: 500px;
  width: 30%;
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
}

.box-right1{
  height: 33%;
  background:no-repeat center/100% url("https://i.ytimg.com/vi/XsKL_OqroAw/maxresdefault.jpg");
  opacity: 0.9;
  z-index: 1;
}

.box-right2{
  height: 33%;
  background:no-repeat center/100% url("http://www.brunomars.com//sites/g/files/g2000006216/f/201611/BrunoMars_Site_NewSite_Assets_FBOG.jpg");
  opacity: 0.9;
  z-index: 1;
}
.box-right3{
  height: 33%;
  background:no-repeat top/100% url("https://pbs.twimg.com/media/DoROjrRWkAEF_zG.jpg");
  opacity: 0.9;
  z-index: 1;
}

.box-right3:hover {
    background-color:#000;
    opacity:1;
}

.caption h1{
  text-shadow: #000;
  color: white;
  z-index: 2;
}

.album-props{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.album-props-2{
  display:flex;
  flex-direction: column;
}

.album-props-2 img{
  max-height: 350px;
  max-width: 350px;
}

.album-text{
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.track-render{
  display:flex;
  flex-direction:column;
  margin: 0 auto;
  align-items: center;
}

.splash-icons{
  display: flex;
  /* grid-template-columns: 33% 33% 33%; */
  background: white;
  min-height: 120px;
  justify-content: space-between;
  padding-bottom: 30px;
}

.splash-fans{
  /* background: grey; */
  color: #477987;
}
.splash-fans p{
  /* background: grey; */
  color: #000
}
.splash-artists{
  /* background: green; */
    color: #477987
}
.splash-artists p{
  /* background: green; */
    color: #000;
}
.splash-labels{
  /* background: blue; */
    color: #477987
}
.splash-labels p{
  /* background: blue; */
    color: #000;
}

.splash-icons p{
  margin: 30px;
  text-align: center;
}

.splash-icons h1{
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.learn-button{
  display: flex;
}

.learn-more {
  padding: 10px 80px;
  /* text-align: center; */
  border: 1px solid black;
  margin: 0 auto;
  border-radius: 5px;
  cursor: not-allowed;
}


.footer{
  display: flex;
  background: #477987;
  min-height: 250px;
  justify-content: space-around;
}

.foot-col{
  display: flex;
  flex-direction: column; 
  margin-top: 30px;
  color: white;
}

.foot-col a{
  color: white;
  text-decoration: none;
  padding: 5px;
}

.fake{
  cursor: not-allowed;
}

.contact-links{
  margin-top: 10px;
}

.footer-auth a{
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.footer-left h2{
  margin-left: 10px;
}

.footer-right{
  display: flex;
}

.footer-right h2{
  margin-right: 10px;
}

.footer-right a{
  margin-right: 10px;
}

/* album styliing */
.album-details{
  min-height: 100%;
  position: relative;
  height: 100%;
}

.footer-auth{
  display: flex;
  justify-content: space-between;
  background: #848484;
  color: white;
  margin-top: 50px;
  min-height: 100%;
  /* position: absolute; */
  bottom: 0;
}