/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{
     font-family: 'Helvetica', sans-serif;
 }

 header a, a:visited, a:active{
   color: black;
   text-decoration: none;
   display: inline-block;
 }
 header a:hover{
   text-decoration: underline;
 }

 ul{
   display: flex;
   list-style-type:none;
   flex-direction: row;
 }

.nav-bar li{
    display: inline-block;
    padding: 10px;
    margin-left: 10px;
    border-left: 1px solid grey;
}

.nav-bar li:first-child{
  border-left: 0;
}

header{
  display: flex;
  margin: 0 auto;
  background-color: yellow;
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  font-size: 14px;
  height: 110px;
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 600px;
  border-bottom: 1px solid black;
}
.nav-bar{
  display: flex;
  margin: 0 auto;
  width: 100%;
  justify-content: space-between;
}


.nav-links{
  display: inline;
  justify-content: space-between;
}

.nav-left{
  height: 100%;
  width: 50%;
  display: flex;
  float: left;
  background-color: green;
  position: relative;
  flex-direction: column;
}
.nav-left-icon{
  height: 50%;
  width: 100%;
  background-color: teal;
  float:left;
}
.nav-left-links{
  height:50%;
  width: 100%;
  background-color: orange;
  float:right;
}


.nav-right{
  height: 100%;
  width: 30%;
  display: flex;
  float: right;
  position: relative;
  background-color: pink;
  flex-direction: column;
}

.nav-right-search{
  height: 50%;
  width: 100%;
  background-color: purple;
  float:left;
}
.nav-right-links{
  height:50%;
  width: 100%;
  background-color: red;
  float:right;
}


.login-form-container{
  display: flex;
  margin-top: 150px;
}

.login-form-box{
  margin: auto;
}
